//COLORS
$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;
$white: #ffffff;
$black: #000000;

//FONTS
$forum-font: 'Forum', cursive;
$roboto-font: 'Roboto', sans-serif;
@mixin forum-font-80 {
  font: 80px $forum-font;
  line-height: 90%;
  letter-spacing: 5px;
}

//MIXINS
@mixin forum-font-32 {
  font: 32px $forum-font;
  letter-spacing: 5px;
  color: $black;
}

@mixin forum-font-28 {
  font: 28px $forum-font;
  line-height: 50%;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $white;
}

@mixin roboto-font-28 {
  font: 28px $roboto-font;
  font-weight: 300;
  letter-spacing: 2px;
  color: $white;
}

@mixin roboto-font-22-white {
  font: 22px $roboto-font;
  color: $white;
}

@mixin roboto-font-22-black {
  font: 22px $roboto-font;
  color: $black;
}