@import "variables";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  .main {
    flex: 1;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

//HEADER BASIC
.header {
  width: 100%;

  background-color: $black;

  .header__container {
    padding: 75px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

//FOOTER BASIC
.footer {
  width: 100%;

  background-color: $black;

  .footer__container {
    padding: 75px 0;

    display: flex;
    justify-content: space-between;
  }
}

//HEADER AND FOOTER LOGO
.logo-area {
  width: 195px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  text-align: right;

  background: left no-repeat url(assets/svg/logo.svg);

  transition: 0.2s ease-out;

    .logo-area__heading {
    @include forum-font-28;
    margin: 0;
  }

  &:hover {
    filter: invert(57%) sepia(10%) saturate(1148%) hue-rotate(356deg) brightness(92%) contrast(89%);
    color: $font-gold;
  }
}

//FOOTER LOGO
.footer__logo-area {
  align-self: flex-start;
}

//NAV BASIC
.nav-list {
  display: flex;

  li {
    list-style-type: none;
  }
  a {
    @include roboto-font-22-white;
    font-weight: 100;
    line-height: 50%;
    letter-spacing: 2px;
    text-transform: capitalize;

    text-decoration: none;
    
    transition: 0.2s ease-out;
  }
  a:hover {
    color: $font-gold;
  }
}

//HEADER NAV
.header__nav-list {
  li {
    margin-left: 76px;
  }
  li:nth-child(1) {
    margin-left: 0;
  }
}

//FOOTER NAV
.footer__nav {
  margin-left: 100px;
}
.footer__nav-list {
  flex-flow: column wrap;
  align-content: space-between;

  width: 405px;
  height: 150px;
  margin: 0;

  li {
    height: 50px;
    display: flex;
    align-items: center;
  }
}

//FOOTER SOCIALS
.footer__socials {
  // margin-left: 398px;
  align-self: flex-end;
  flex: 1;
}
.footer__socials-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  li {
    width: 48px;
    height: 48px;
    margin-left: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #666666;
    border-radius: 50%;
    list-style-type: none;
    transition: 0.2s ease-out;
  }

  li:nth-child(1) {
    margin-left: 0;
  }

  a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  li:hover {
    filter: invert(57%) sepia(10%) saturate(1148%) hue-rotate(356deg) brightness(92%) contrast(89%);
  }
}