/* BASICS */
:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --white: #ffffff;
  --black: #000000;
  --font-80: 80px;
  --font-32: 32px;
  --font-28: 28px;
  --font-22: 22px;
}

.forum-font-80 {
  font: var(--font-80) 'Forum', cursive;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.forum-font-32 {
  font: var(--font-32) 'Forum', cursive;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--black);
}

.forum-font-28 {
  font: var(--font-28) 'Forum', cursive;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
}

.roboto-font-28 {
  font: var(--font-28) 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--white);
}

.roboto-font-22-white {
  font: var(--font-22) 'Roboto', sans-serif;
  color: var(--white);
}

.roboto-font-22-black {
  font: var(--font-22) 'Roboto', sans-serif;
  color: var(--black);
}

.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.underline-subtitle {
  position: relative;
}

.underline-subtitle::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: var(--dark-red);
  transition: all 0.3s ease;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}


/* HEADER */
.header {
  width: 100%;
  background-color: var(--bg-dark);
}
.header__container {
  padding: 75px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list li {
  margin-left: 76px;
}
.header__nav-list li:nth-child(1) {
  margin-left: 0;
}

/* FOOTER */
.footer {
  width: 100%;
  background-color: var(--bg-dark);
}
.footer__container {
  padding: 75px 0;
  display: flex;
  justify-content: space-between;
}
.footer__logo-area {
  align-self: flex-start;
}
.footer__nav {
  margin-left: 100px;
}
.footer__nav-list {
  flex-flow: column wrap;
  align-content: space-between;
  width: 405px;
  height: 150px;
  margin: 0;
}
.footer__nav-list li {
  height: 50px;
  display: flex;
  align-items: center;
}
.footer__socials {
  align-self: flex-end;
  flex: 1;
}
.footer__socials-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__socials-list li {
  width: 48px;
  height: 48px;
  margin-left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #666666;
  border-radius: 50%;
  list-style-type: none;
  transition: 0.2s ease-out;
}
.footer__socials-list li:nth-child(1) {
  margin-left: 0;
}
.footer__socials-list a {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.footer__socials-list li:hover {
  filter: invert(57%) sepia(10%) saturate(1148%) hue-rotate(356deg) brightness(92%) contrast(89%);
}

/* HEADER & FOOTER COMMON */
.logo-area {
  width: 195px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  background: 0 30% no-repeat url(assets/svg/logo.svg);
  transition: 0.2s ease-out;
}
.logo-area__heading {
  margin: 0;
}
.logo-area:hover {
  filter: invert(57%) sepia(10%) saturate(1148%) hue-rotate(356deg) brightness(92%) contrast(89%);
  color: var(--font-gold);
  cursor: pointer;
}
.nav-list {
  display: flex;
}
.nav-list li {
  list-style-type: none;
}
.nav-list a {
  font-weight: 100;
  line-height: 50%;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
}
.nav-list a:hover {
  color: var(--font-gold);
}

/* MAIN */
.main {
  flex: 1;
}

/*WELCOME */
.welcome {
  background-color: var(--bg-dark);
  background-image: url(assets/img/welcome-background.jpg);
  background-position: calc(100% - 20px) calc(100% - 10px);
  background-repeat: no-repeat;
}

.welcome__container {
  padding: 114px 0 246px 0;
}

.welcome__heading {
  width: 600px;
  color: var(--white);
}

.welcome__paragraph {
  margin: 26px 0 76px 0;
}

.welcome__button {
  display: block;
  width: 360px;
  height: 75px;
  font-weight: 100;
  line-height: 75px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  background-color: var(--dark-red);
  border-radius: 10px;
  transition: 0.2s ease-out;
}
.welcome__button:hover {
  background-color: var(--font-gold);
}

/* VISITING */
.visiting__container {
  padding-bottom: 56px;
}
.visiting__heading {
  color: var(--font-gold);
}

.cards__wrapper {
  width: 100%;
  margin-top: 103px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.card {
  display: block;
  text-decoration: none;
}

.card:hover .underline-subtitle::after {
  width: 100%;
}

.cards__heading {
  margin-top: 20px;
}

.cards__description {
  margin-top: 21px;
  margin-bottom: 17px;
  font-weight: 100;
}

.cards__description--small {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

/* EXPLORE */
.explore {
  background-color: var(--bg-dark);
}

.explore__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.explore__text-area {
  max-width: 660px;
}

.explore__heading,
.explore__paragraph {
  color: var(--white);
}

.explore__paragraph {
  margin-top: 25px;
  font-weight: 300;
  line-height: 38.5px;
}

.explore__paragraph--first {
  margin-top: 103px !important; 
}

.explore__img-area {
  padding: 15px 0;
}