/* BASICS */
:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --white: #ffffff;
  --black: #000000;
  --font-80: 80px;
  --font-32: 32px;
  --font-28: 28px;
  --font-22: 22px;
}

.forum-font-80 {
  font: var(--font-80) 'Forum', cursive;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.forum-font-32 {
  font: var(--font-32) 'Forum', cursive;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--black);
}

.forum-font-28 {
  font: var(--font-28) 'Forum', cursive;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
}

.roboto-font-28 {
  font: var(--font-28) 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--white);
}

.roboto-font-22-white {
  font: var(--font-22) 'Roboto', sans-serif;
  color: var(--white);
}

.roboto-font-22-black {
  font: var(--font-22) 'Roboto', sans-serif;
  color: var(--black);
}

.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.underline-subtitle {
  position: relative;
}

.underline-subtitle::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: var(--dark-red);
  transition: all 0.3s ease;
}

.no-outline,
.no-outline:hover,
.no-outline:active,
.no-outline:focus {
  outline: none;
  border: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}


/* HEADER */
.header {
  width: 100%;
  background-color: var(--bg-dark);
}
.header__container {
  padding: 75px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list li {
  margin-left: 76px;
}
.header__nav-list li:nth-child(1) {
  margin-left: 0;
}

/* FOOTER */
.footer {
  width: 100%;
  background-color: var(--bg-dark);
}
.footer__container {
  padding: 75px 0;
  display: flex;
  justify-content: space-between;
}
.footer__logo-area {
  align-self: flex-start;
}
.footer__nav {
  margin-left: 100px;
}
.footer__nav-list {
  flex-flow: column wrap;
  align-content: space-between;
  width: 405px;
  height: 150px;
  margin: 0;
}
.footer__nav-list li {
  height: 50px;
  display: flex;
  align-items: center;
}
.footer__socials {
  align-self: flex-end;
  flex: 1;
}
.footer__socials-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__socials-list li {
  width: 48px;
  height: 48px;
  margin-left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #666666;
  border-radius: 50%;
  list-style-type: none;
  transition: 0.2s ease-out;
}
.footer__socials-list li:nth-child(1) {
  margin-left: 0;
}
.footer__socials-list a {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.footer__socials-list li:hover {
  filter: invert(57%) sepia(10%) saturate(1148%) hue-rotate(356deg) brightness(92%) contrast(89%);
}

/* HEADER & FOOTER COMMON */
.logo-area {
  width: 195px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  background: 0 30% no-repeat url(assets/svg/logo.svg);
  transition: 0.2s ease-out;
}
.logo-area__heading {
  margin: 0;
}
.logo-area:hover {
  filter: invert(57%) sepia(10%) saturate(1148%) hue-rotate(356deg) brightness(92%) contrast(89%);
  color: var(--font-gold);
  cursor: pointer;
}
.nav-list {
  display: flex;
}
.nav-list li {
  list-style-type: none;
}
.nav-list a {
  font-weight: 100;
  line-height: 50%;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
}
.nav-list a:hover {
  color: var(--font-gold);
}

/* MAIN */
.main {
  flex: 1;
}

/*WELCOME */
.welcome {
  background-color: var(--bg-dark);
  background-image: url(assets/img/welcome-background.jpg);
  background-position: calc(100% - 20px) calc(100% - 10px);
  background-repeat: no-repeat;
}

.welcome__container {
  padding: 114px 0 246px 0;
}

.welcome__heading {
  width: 600px;
  color: var(--white);
}

.welcome__paragraph {
  margin: 26px 0 76px 0;
}

.welcome__button {
  display: block;
  width: 360px;
  height: 75px;
  font-weight: 100;
  line-height: 75px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  background-color: var(--dark-red);
  border-radius: 10px;
  transition: 0.2s ease-out;
}
.welcome__button:hover {
  background-color: var(--font-gold);
}

/* VISITING */
.visiting__container {
  padding-bottom: 56px;
}
.visiting__heading {
  color: var(--font-gold);
}

.cards__wrapper {
  width: 100%;
  margin-top: 103px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.card {
  display: block;
  text-decoration: none;
}

.card:hover .underline-subtitle::after {
  width: 100%;
}

.cards__heading {
  margin-top: 20px;
}

.cards__description {
  margin-top: 21px;
  margin-bottom: 17px;
  font-weight: 100;
}

.cards__description--small {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

/* EXPLORE */
.explore {
  background-color: var(--bg-dark);
}

.explore__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.explore__text-area {
  max-width: 660px;
}

.explore__heading,
.explore__paragraph {
  color: var(--white);
}

.explore__paragraph {
  margin-top: 25px;
  font-weight: 300;
  line-height: 38.5px;
}

.explore__paragraph--first {
  margin-top: 103px !important; 
}

.explore__img-area {
  padding-top: 15px;
}

/* VIDEO */
.video__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
}

.player__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  margin-top: 11px;
}

.video__heading {
  flex-basis: 50%;
  color: var(--font-gold);
}

.video__text {
  flex-basis: 50%;
  font-weight: 100;
  line-height: 38.5px;
  letter-spacing: 0.1px;
}

.large-play {
  position: absolute;
  left: calc((100% - 220px) / 2);
  top: calc((100% - 305px) / 2);
  width: 220px;
  height: 220px;
  background-image: url(assets/svg/large-play-btn.svg);
  background-color: transparent;
  transition: 0.2s ease-out;
}

.control-panel {
  display: flex;
  align-items: center;
  gap: 41px;
  padding: 0 41px;
  width: 1440px;
  height: 85px;
  background-color: var(--black);
}

.back {
  width: 27px;
  height: 30px;
  background-image: url(assets/svg/backward-btn.svg);
  background-color: transparent;
  transition: 0.2s ease-out;
}

.small-play {
  width: 23px;
  height: 30px;
  background-image: url(assets/svg/small-play-btn.svg);
  background-color: transparent;
  transition: 0.2s ease-out;
}

.forward {
  width: 27px;
  height: 30px;
  background-image: url(assets/svg/forward-btn.svg);
  background-color: transparent;
  transition: 0.2s ease-out;
}

.progress {
  width: 820px;
  height: 15px;
}

.volume_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sound {
  width: 38px;
  height: 30px;
  background-image: url(assets/svg/sound-btn.svg);
  background-color: transparent;
  transition: 0.2s ease-out;
}

.volume {
  width: 155px;
  height: 15px;
}

.fullscreen {
  width: 36px;
  height: 36px;
  margin-left: 8px;
  background-image: url(assets/svg/fullscreen-btn.svg);
  background-color: transparent;
  transition: 0.2s ease-out;
}

.video button:hover {
  cursor: pointer;
  filter: invert(57%) sepia(10%) saturate(1148%) hue-rotate(356deg) brightness(92%) contrast(89%) drop-shadow(0 0 10px var(--white));
}

/* TICKETS */
.tickets {
  width: 100%;
  background-color: var(--bg-dark);
}

.tickets__container {
  display: flex;
  flex-direction: column;
  row-gap: 103px;
}

.tickets__heading {
  color: var(--white);
}

.tickets__content {
  position: relative;
  display: grid;
  grid-template-columns: 54.2% auto auto;
}

.ticket-type,
.ticket-amount {
  display: flex;
  flex-direction: column;
}

.ticket-type__heading,
.ticket-amount__heading {
  font-weight: 700;
  letter-spacing: normal;
}

/* ------------------------ */
.ticket-type {
  align-items: flex-start;
  row-gap: 48px;
}

.ticket-type__label {
  position: relative;
  padding-left: 40px;
  font-weight: 300;
  cursor: pointer;
}

.ticket-type__label:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 17px;
  height: 17px;
  border: 2px solid var(--white);
  border-radius: 50%;
  background-color: transparent;
}

.ticket-type__input {
  position: absolute;
  opacity: 0;
}

.ticket-type__label input:checked ~ .checkmark {
  background-color: var(--dark-red);
}

/* -------------------- */
.ticket-amount {
  align-items: flex-end;
}

.age__label {
  margin-top: 10px;
  padding-right: 56px;
  font-weight: 300;
}

.senior_age__label {
  padding-right: 47px;
  margin-top: 35px;
}

.ticket-amount__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-top: 13px;
  padding: 0 11px;
  border: 3px solid var(--white);
}

.btn_minus,
.btn_plus {
  font: 400 32px 'Roboto', sans-serif;
  color: var(--white);
  background: transparent;
}

.btn_minus:hover,
.btn_plus:hover {
  cursor: pointer;
  opacity: 0.75;
} 

/* hiding count arrows from input type number */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.ticket-amount__count {
  width: 26px;
  height: 26px;
  color: var(--white);
  background: transparent;
}

.ticket-amount__count::placeholder {
  font: 300 22px 'Roboto', sans-serif;
  text-align: center;
  color: var(--white);
}

.ticket-amount__total {
  margin-top: 48px;
  font-weight: 700;
  letter-spacing: 1.65px;
  color: var(--white);
}

.tickets__button_submit {
  position: absolute;
  right: 0;
  bottom: 112px;
  width: 175px;
  height: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  background: var(--white);
  border-radius: 2px;
  transition: 0.2s ease-out;
}

.tickets__button_submit:hover {
  background: var(--font-gold);
  cursor: pointer;
}